* {
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #212529;
}

#root {
  height: 100%;
}

.border-lt {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.border-lt-bt {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.card-text {
  font-weight: 300;
  font-size: 0.9rem;
}

.form-label{
    font-size: .8rem;
}

.form-control {
    color: white;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.form-control:focus {
  color: #fff;
  background-color: transparent;
  border-bottom: 2px solid #0a99f8;
  box-shadow: none;
}

.btn-main {
    color: rgb(42, 154, 245) !important;
    transition: 0.3s ease all;
  }
  
  .btn-main:hover {
    background-color: rgba(42, 154, 245, 0.2);
  }
