* {
    font-family: 'Poppins', sans-serif;
}

html{
    height: 100%;
}

body {
    height: 100%;
    background-color: #212529;
}

#root{
    height: 100%;
}

.border-lt{
    border: 1px solid rgba(255,255,255,0.2);
}

.border-lt-bt{
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.card-text{
    font-weight: 300;
    font-size: .9rem;
}

